.notification-modal-backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000;
  z-index: 125;
  opacity: 0;
  animation: modal-backdrop-fade-in-fade-out 5s;
}

.notification-modal {
  height: 40%;
  width: 40%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 150;
  opacity: 0;
  animation: notification-modal-expand-contract 5s;
}

.notification-modal span {
  color: black;
  font-size: 3.5rem;
  padding: 1rem;
  opacity: 0;
  animation: notification-modal-span-fade-in-fade-out 5s;
}

@keyframes modal-backdrop-fade-in-fade-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes notification-modal-expand-contract {
  0% {
    opacity: 0;
    width: 15%;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  20% {
    opacity: 1;
    width: 40%;
  }
  80% {
    opacity: 1;
    width: 40%;
  }
  90% {
    opacity: 1;
    width: 15%;
  }
  95% {
    opacity: 0;
    width: 15%;
  }
  100% {
    opacity: 0;
    width: 15%;
  }
}

@keyframes notification-modal-span-fade-in-fade-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
